* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

nav,footer {
    background-color: #fff;
    font-family: 'Karla', sans-serif;
    color: #a68148;
}

h1,h2{
    font-family: 'Merriweather', serif;
}

h3,h4 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #a68148;
}

h3 {
    font-size: 1.3em;
    padding-bottom: 5%;
    color: #d48b47;
    padding: 20px 0;
}

h4 {
    font-size: 1em;
    color: #d24e45;
    padding: 20px 0;
}

p {
    text-align: left;
}
/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    line-height: 65px;
    height: 100px;
}

nav > .content {
    width: 80%;
    height: 100px;
    margin: auto;
}

div.content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/
div#nav-logo {
    margin: auto 0;
    width: 30%;
}

div#nav-logo h3 {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(10%,-50%);
    font-size: 1em;
    font-family: 'Merriweather', serif;
    color: #a68148;
}

div#nav-logo img {
    width: 60px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d5a860;
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li{
    display: block;
    margin-left: 32px;
}

ul#nav-links li.active {
    text-decoration: underline;
    font-weight: 500;
}


ul#nav-links li a {
    text-decoration: none;
    color: #4c4045;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 14px;
}

ul#nav-links li a:hover {
    color: #d5a860;
}


li.mobile-hover:hover {
    background-color: #4c4045;
    width: 100%;
    margin: auto;
    padding: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

/*mobile hamburger menu*/

span.mobile-btn {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    color: #4c4045;
    font-size: 2rem;
    text-align: right;
    display: block;
    padding-right: 10px;
}

ul#nav-links li.close:hover {
    cursor: pointer;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 1;
    opacity: 1;
}

ul#nav-links.open{
    transform: translateX(0);
}

/*HEADER*/
header {
    font-family: 'Karla', sans-serif;
    width: 100%;
    margin: auto;
}

/*moving section on body*/
.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    color: #ffffff;
}

.section.bg-static {
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.section.bg-static::after {
    content: "";
    background-image: url(images/header-angle-7@3x.png);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.section .bg-move {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: auto;
    width: 50%;
    height: 100%;
    background-image: url(images/balloon-swing-leah.gif);
    background-size: cover;
    background-position: center;
    z-index: 3;
    opacity: 0.9;
}

div#header-title {
    width: 70%;
    margin: auto;
    z-index: 4;
}


div#header-title::after {
background-color: #fff;
opacity: 0.5;
}

p.header-description {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #483C46;
    padding-top: 1%;
}

span.welcome {
   font-size: 2.5rem;
   font-family: 'Merriweather', serif;
    z-index: 10;
}



/*Projects section*/
section#project-section {
/*
    background-image: url(images/room-1@3x.png);
    background-attachment: fixed;
*/
/*    background-color: #fff;*/
    color: #4c4045;
    width: 85%;
    margin: auto;
    z-index: -1
}

section#project-section::after{
    content: "";
    background-color: #fff;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}

p.section-header {
    width: 85%;
    margin: 20px auto;
    font-size: 2rem;
    color: #4c4045;
    z-index: -1;
    font-family: 'Merriweather', serif;
}

div#bus-spot-app {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-top: 40px;
    align-items: center;
}

div#greener-app {
  display: flex;
 flex-direction: column-reverse;
  margin: auto;
}

div.project-img {
    padding-top: 30px;
    width: 100%;
}

img.project-screenshot{
   width: 100%;
}

div.project-info {
    margin: 15px 0;
    width: 100%;
}

div.project-info h3 {
    font-family: 'Merriweather', serif;
    color: #d48b47;
}

div.project-info p {
    vertical-align: top;
    color: #4c4045;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    padding: 20px 0;
}


div.tech-image img {
 width: 10%;
}


a.project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #4c4045;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

a.project-links:hover {
    background-color: #cdb6d4;
}


/*MAIN FOOTER*/

footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2baac;
    min-height: 30vh;
}

footer h2 {
    padding: 20px 0;
    color: #4c4045;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p.footer-credit {
    color: #4c4045;
    margin: 20px auto;
    text-align: center;
}

div#social-img {
    width: 60%;
    margin: auto;
    display: flex;
    text-align: center;
}

img.social-button {
    background-color: #d5a860;
    width: 50%;
    margin:auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 600px) {

    .section .bg-move {
        width: 40%;
        height: 100%;
    }

    /*    social images*/
    div#social-img {
        width: 40%;
    }

}


@media only screen and (min-width: 768px) {

/*    balloon girl image*/
    .section .bg-move {
        width: 30%;
        height: 100%;

    }

}

@media only screen and (min-width: 900px) {

    /*    OVERALL*/

    div#nav-logo h3 {
        font-size: 1.5rem;
    }

    div#nav-logo img {
        width: 80px;
    }

    div.content {
        width: 80%;
    }


    /*Nav links*/

    ul#nav-links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 10px 16px;
        float: right;
        width: initial;
        transform: none;
        transition: none;
        background-color: initial;
        position: initial;
        z-index: initial;
    }

    li.mobile-hover:hover {
        background-color: initial;
        width: initial;
        margin: initial;
        padding: initial;
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial;
        border-top-left-radius: initial;
    }

    ul#nav-links li {
        display: inline-block;
    }

    ul#nav-links li a {
        text-decoration: none;
        font-size: 1rem;
        color: #a68148;
    }

    ul#nav-links li a:active {
        color: #d5a860;
        text-decoration: underline;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        display: none;
    }

    ul#nav-links li.close {
        display: none;
    }

    /*HEADER*/

    /*moving section on body*/


/*Projects*/
    div#bus-spot-app {
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;

    }

    div#greener-app {
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
        justify-content: space-around;
    }

    div.project-info {
        padding-left: 30px;
    }

    div.project-img {
        width: 120%;
    }

    div.tech-image img {
        width: 12%;
    }

/*    footer*/
    div#social-img {
        width: 30%;
    }

}


@media only screen and (min-width: 1024px) {
    .section .bg-move {
        width: 20%;
        height: 100%;
        top: 0;
    }

    div#header-title {
        width: 40%;
    }

    div#social-img {
        width: 30%;
    }



}

@media only screen and (min-width: 1200px) {
    .section .bg-move {
        width: 20%;
        height: 100%;
        top: 20px;
    }

    div#header-title {
        width: 30%;
    }

    div#social-img {
        width: 20%;
    }

}
