* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #382F5A;
}

footer {
    background-color: #20A39E;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

h1,h2{
    font-family: 'Merriweather', serif;
}

h3,h4 {
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 3.815em;
}

h2 {
    font-size: 2.441em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.563em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h4 {
    font-size: 1.25em;
    padding: 16px 8px;
}

p {
    font-size: 1em;
    text-align: left;
}
/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
/*    line-height: 65px;*/
    height: 100px;
}


nav > .content {
/*    width: 100%;*/
    height: 100px;
/*    margin: auto;*/
}

div.content {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/
div#nav-logo {
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div#nav-logo h3 {
/*
    display: inline-block;
    position: absolute;
*/
/*
    top: 50%;
    transform: translate(10%,-50%);
*/
    font-size: 1.25em;
    color: #392F5A;
    padding-left: 8px;
}

div#nav-logo img {
    width: 56px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
/*    background-color: #382F5A;*/
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    text-align: left;
}

ul#nav-links li.active {
    text-decoration: underline;
    font-weight: 600;
}


ul#nav-links li a {
    text-decoration: none;
    font-size: 2.441em;
    color: #F4D06F;
    padding: 32px 0;

}

ul#nav-links li a:hover {
    color: #efbc2e;
}


/*
li.mobile-hover:hover {
    background-color: #382F5A;
    width: 100%;
    margin: auto 0;
    padding: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
*/

/*mobile hamburger menu*/

span.mobile-btn {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    color: #F4D06F;
    font-size: 3rem;
    text-align: right;
    display: block;
    padding-top: 30px;

}

ul#nav-links li.close:hover {
    cursor: pointer;
}

div.overlay {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #382F5A;
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 5;
    opacity: 1;

}

ul#nav-links.open{
        transform: translateX(0);
}

/*HEADER*/
header {
    width: 100%;
    margin: auto;
    min-height: 100vh;
}

#bm {
    overflow: hidden;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 32px;
    left: -115px;
}

/*moving section on body*/
.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    color: #ffffff;
}

.section.bg-static {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/triangle-background.svg);
    background-attachment: fixed;
    position: absolute;
    top: 20px;

}

/*
.section.bg-static::after {
    content: "";

    background-size: cover;
    background-attachment: fixed;
*/
/*
    background-image: url(images/header-angle-7@3x.png);
    background-attachment: fixed;
    background-size: cover;
*/
/*    opacity: 0.8;*/
/*
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
*/

.section .bg-move {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
/*    opacity: 0.9;*/
}

div#header-title {
    width: 70%;
    margin: auto;
    z-index: 4;
}


/*
div#header-title::after {
background-color: #fff;
opacity: 0.5;
}
*/

h2.welcome {
    width: 90%;
    margin: auto;
    z-index: 10;
    color: #382F5A;
    line-height: 1em;
}

p.header-description {
    width: 90%;
    margin: auto;
    font-size: 1.25em;
    line-height: 2rem;
    color: #382F5A;
    padding-top: 16px;
}


/*Projects section*/
section#project-section {
    width: 85%;
    margin: auto;
    z-index: -1
}

/*
section#project-section::after{
    content: "";
    background-color: #fff;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}
*/

h2.section-header {
    width: 85%;
    margin: 32px auto;
    color: #392F5A;
    z-index: 0;
    line-height: 1em;
}

div#bus-spot-app {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    margin-top: 48px;
}

div#greener-app {
  display: flex;
 flex-direction: column;
  margin: auto;
}

div.project-img {
    padding-top: 16px;
    width: 100%;
    margin: auto;
}

img.project-screenshot{
    width: 100%;
    display: block;
}

div.project-info {
    margin: 32px 0;
    width: 100%;
}

div.project-info h3 {
    color: #OFOFOF;
}

div.project-info p {
    vertical-align: top;
    color: #OFOFOF;
    padding: 16px 0;
}


div.tech-image img {
padding-top: 16px;
height: 56px;
}


a.project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color:#382F5A;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

a.project-links:hover {
    background-color: #8879B9;
}


/*MAIN FOOTER*/

footer {
    width: 100%;
    margin: auto;
    margin-top: 48px;
}

footer h2.section-header {
    color: #fff;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 48px 0;
    line-height: 1em;
}

p.footer-credit {
    color: #fff;
    margin: 32px auto;
    text-align: center;
}

div#social-img {
    width: 70%;
    margin: auto;
    display: flex;
    text-align: center;
}

img.social-button {
    background-color: #fff;
    padding: 5px;
    width: 50%;
    margin: auto;
    border-radius: 8px;
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

@media only screen and (min-width: 600px) {

/*    HEADER*/
    #bm {
        width: 75%;
        top: 32px;
        left: -175px;
    }

    div#header-title {
        width: 70%;
        margin: auto;
        z-index: 4;
    }

/*    PROJECTS SECTION*/
    section#project-section {
        width: 75%;
    }

    h2.section-header {
        width: 75%;
        margin: 32px auto;
        color: #392F5A;
        z-index: 0;
        line-height: 1em;
    }

/*    FOOTER*/

    /*    social images*/
    div#social-img {
        width: 50%;
    }

}


@media only screen and (min-width: 768px) {

/*    balloon girl image*/
    .section .bg-move {
        width: 30%;
        height: 100%;

    }

}

@media only screen and (min-width: 900px) {

    /*    OVERALL*/

    div#nav-logo h3 {
        font-size: 1.5rem;
    }

    div#nav-logo img {
        width: 80px;
    }

    div.content {
        width: 80%;
    }


    /*Nav links*/

    ul#nav-links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 10px 16px;
        float: right;
        width: initial;
        transform: none;
        transition: none;
        background-color: initial;
        position: initial;
        z-index: initial;
    }

    li.mobile-hover:hover {
        background-color: initial;
        width: initial;
        margin: initial;
        padding: initial;
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial;
        border-top-left-radius: initial;
    }

    ul#nav-links li {
        display: inline-block;
    }

    ul#nav-links li a {
        text-decoration: none;
        font-size: 1rem;
        color: #a68148;
    }

    ul#nav-links li a:active {
        color: #d5a860;
        text-decoration: underline;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        display: none;
    }

    ul#nav-links li.close {
        display: none;
    }

    /*HEADER*/

    /*moving section on body*/


/*Projects*/
    div#bus-spot-app {
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;

    }

    div#greener-app {
        flex-direction: row;
        align-items: center;
        padding-bottom: 30px;
        justify-content: space-around;
    }

    div.project-info {
        padding-left: 30px;
    }

    div.project-img {
        width: 120%;
    }

    div.tech-image img {
        width: 12%;
    }

/*    footer*/
    div#social-img {
        width: 30%;
    }

}


@media only screen and (min-width: 1024px) {
    .section .bg-move {
        width: 20%;
        height: 100%;
        top: 0;
    }

    div#header-title {
        width: 40%;
    }

    div#social-img {
        width: 30%;
    }



}

@media only screen and (min-width: 1200px) {
    .section .bg-move {
        width: 20%;
        height: 100%;
        top: 20px;
    }

    div#header-title {
        width: 30%;
    }

    div#social-img {
        width: 20%;
    }

}
