* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Calluna', serif;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav {
    /* background-color: #fff; */
    font-family: 'Calluna', serif;
    color: #030106;

}

footer {
    background-color: #fff;
    font-family: 'Calluna', serif;
    /* color: #fff; */
}

h1,
h2 {
    font-family: calluna, serif;
    font-weight: 600;
    font-style: normal;
    color: #33184D;
}

h3,
h4 {
    font-family: calluna, serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
    padding: 16px 0;
}

h3 {
    font-size: 1.5em;
    padding: 12px 0;
    color: #030106;
}

h4 {
    font-size: 1.25em;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #502183;
}

p {
    font-size: 1.1em;
    line-height: 1.65em;
    text-align: left;
    color: #030106;
    padding: 12px 0;
}

/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    /*    line-height: 65px;*/
    height: 90px;
    background-color: rgba(255, 255, 255, 0.8);
}


nav>.content {
    /*    width: 100%;*/
    height: 100px;
    /*    margin: auto;*/

}

div.content {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/
div#nav-logo {
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* div#nav-logo h3 {
    
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(10%,-50%);
    font-size: 1.25em;
    color: #382F5A;
    padding-left: 8px;
    padding-top: initial;
} */

div#nav-logo img {
    width: 48px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    /*    background-color: #382F5A;*/
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    text-align: left;
}

ul#nav-links a.active {
    text-decoration: none;
    font-weight: 600;
    color: #241435;
}


ul#nav-links li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #594B68;
    padding: 32px 0;
}

ul#nav-links li a:hover {
    color: #5F259F;
}

/*mobile hamburger/close menu*/

span.mobile-btn {
    /* display: inline-block;
    float: right; */
    font-size: 1.5em;
    color: #241435;
}

span.mobile-btn:hover,
span.close:hover,
ul#nav-links {
    cursor: pointer;
}

span.close {
    display: none;
    font-size: 1.7em;
    color: #241435;
}

/* ul#nav-links {
    color: #241435;
    font-size: 1.5rem;
    text-align: right;
    display: block;
    padding-top: 30px;
} */

/* ul#nav-links li.close:hover {
    cursor: pointer;
} */

div.overlay {
    position: fixed;
    top: 90px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 5;
    opacity: 1;
}

ul#nav-links.open {
    transform: translateX(0);
}

/*HEADER*/
header {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    text-align: center;
}

#bm {
    overflow: hidden;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 32px;
    left: -135px;
}

span.header-highlight {
    color: #5F259F;
}

/*moving section on body*/

/* .triangle {
    width: 90vw;
    height: 90vh;
       background: linear-gradient(to right bottom, #fff 0%, #fff 50%, #F4D06F 25%, #F4D06F 50%);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    opacity: 0.50;
    transform: rotate(-5deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #F4D06F;
} */

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    color: #ffffff;
    overflow: hidden;
}

.section.bg-static {
    top: 20px;
}


.section .bg-move {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    right: auto;
    z-index: 3;
    width: 100%;
    /*    opacity: 0.9;*/
}

div#header-title {
    width: 70%;
    margin: 0 auto;
    z-index: 4;
    display: block;
}


h1.welcome {
    /* width: 100%;
    margin: auto; */
    z-index: 10;
    color: #241435;
    line-height: 1.2em;
    text-align: left;
    font-weight: 400;
    /*    text-shadow: 1px 1px #fafafa;*/
}

/* p.header-description {
    width: 100%;
    margin: auto;
    font-size: 1.563em;
    line-height: 2rem;
    color: #382F5A;
    padding-top: 16px;
       text-shadow: 1px 1px #fafafa;
} */


/*Projects section*/
section#project-section {
    width: 100%;
    margin: auto;
    z-index: -1
}

/*
section#project-section::after{
    content: "";
    background-color: #fff;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}
*/

h2.section-header {
    width: 85%;
    margin: 32px auto;
    z-index: 0;
    line-height: 1em;
}

div.container-reverse {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: 24px 0;
}

div.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 24px 0;
}

div.project-img {
    /* padding: 16px 0; */
    width: 90%;
    margin: auto;
}

/* div.gromm-img {
    width: 90%;
    margin: auto;
    padding-top: 24px;
} */

/* img.project-screenshot {
    width: 100%;
    display: block;
    margin: auto;
} */

div.project-info {
    margin: 32px 0;
    width: 100%;
}

/* div.project-info h3 {
    color: #0F0F0F;
}

div.project-info p {
    vertical-align: top;
    color: #0F0F0F;
    padding: 16px 0;
} */


/* div.tech-image img {
    padding-top: 16px;
    height: 56px;
} */


a.project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin: 16px auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #5F259F;
    text-decoration: none;
    font-size: 1.1em;
    color: #5F259F;
    font-weight: 600;
}


/* div.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin: 16px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: gray;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
} */


a.project-links:hover {
    background-color: #E6D9EF;
}


/*MAIN FOOTER*/

footer {
    width: 100%;
    margin: auto;
    margin-top: 48px;
}

/* footer h2.section-header {
    color: #fff;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 48px 0;
    line-height: 1em;
} */

p.footer-credit {
    color: #B3A7BF;
    margin: 32px auto;
    text-align: center;
    font-size: 0.75em;
}

div#social-img {
    width: 80%;
    margin: auto;
    text-align: center;
}

div#social-img a {
    width: 56px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}


img.social-button {
    width: 24px;
    margin: auto;
}

@media only screen and (min-width: 600px) {

    /*    NAV*/
    div.content {
        width: 75%;
    }

    ul#nav-links li {
        width: 75%;
    }

    /*    HEADER*/
    #bm {
        width: 75%;
        top: 32px;
        left: -175px;
    }


    /* div#header-title {
        width: 55%;
    } */


    /*    PROJECTS SECTION*/
h2.section-header {
    width: 75%;
}

div.container-reverse {
    width: 65%;
}

div.container {
    width: 65%;
}


    /*    FOOTER*/

    /*    social images*/
    div#social-img {
        width: 50%;
    }

}


@media only screen and (min-width: 768px) {

    h1 {
        font-size: 2.5em;
    }

    /*    NAV*/
    div.content {
        width: 70%;
    }

    ul#nav-links li {
        width: 70%;
    }

    /*    HEADER*/

    /* .triangle {
        transform: rotate(-5deg) translate(25px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    } */

    #bm {
        width: 85%;
        left: -250px;
    }

    /* div#header-title {
        width: 55%;
    } */


    /*    PROJECTS SECTION*/
    
    h2.section-header {
        width: 70%;
    }

    div.container-reverse {
        width: 60%;
    }
    
    div.container {
        width: 60%;
    }

    div.project-img {
        width: 80%;
    }
    

    /*    FOOTER*/

    /*    social images*/
    div#social-img {
        width: 40%;
    }

}

@media only screen and (min-width: 900px) {

    /*  NAV*/

    div.content {
        width: 75%;
    }

    /*Nav links*/

    ul#nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: initial;
        transition: none;
        transform: none;
        width: 35%;

    }

    ul#nav-links li {
        width: 85%;
        text-align: center;
    }

    ul#nav-links li a {
        font-size: 1.1em;
        padding: 32px 0;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        visibility: hidden;
    }

    ul#nav-links span.close {
        visibility: hidden;
    }


    /*HEADER*/

    /*moving section on body*/
    /*    HEADER*/
    #bm {
        width: 90%;
    }

    div#header-title {
        width: 60%;
    }


    /*    PROJECTS SECTION*/
    h2.section-header {
        width: 75%;
    }
    
/*Projects*/

    div.container-reverse {
        width: 75%;
        margin: 48px auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    div.container {
        width: 75%;
        margin: 48px auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div.project-img {
        width: 45%;
        margin: 0;
        /* padding: 0 24px; */
    }

    /* div#gromm-app {
        width: 100%;
        margin: 56px auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div#personal-projects {
        width: 100%;
        margin: 96px auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } */


    div.project-info {
        width: 45%;
        margin: 0;
    }

    /* div.bs-img {
        width: 60%;
        margin-left: 32px;
    }

    div.greener-img {
        width: 60%;
        margin-right: 32px;
    }

    div.gromm-img {
        width: 60%;
        margin-left: 40px;
        padding-left: 20px;
    }

    div.side-projects-img {
        width: 40%;
        margin-left: 32px;
    } */


    /* img.project-screenshot {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: auto;
    } */

    /*    footer*/
    div#social-img {
        width: 30%;
    }

    img.social-button {
        width: 16px;
    }

}


@media only screen and (min-width: 1024px) {

    /* div#header-title {
        width: 35%;
    } */


    div#social-img {
        width: 25%;
    }

}

@media only screen and (min-width: 1200px) {

   /*  NAV*/

   div.content {
    width: 70%;
}

    #bm {
        width: 100%;
        left: -450px;
    }

    /* div#header-title {
        width: 30%;
        margin: auto;
    } */

     /*    PROJECTS SECTION*/
       
        h2.section-header {
            width: 70%;
        }
    
        div.container-reverse {
            width: 70%;
        }
        
        div.container {
            width: 70%;
        }

        /* div.project-img {
            width: 45%;
            margin: 0;
            /* padding: 0 24px; */
        
    
        div.project-info {
            width: 45%;
            margin: 0;
        }

        

    /* div.project-info {
        width: 35%;
        margin: auto;
    }

    div.gromm-img {
        width: 50%;
        margin-left: 50px;
    } */

    div#social-img {
        width: 20%;
    }
}

@media only screen and (min-width: 1440px) {
    
   /*  NAV*/

   div.content {
    width: 60%;
}

    div#header-title {
            width: 45%;
            margin: auto;
    }

/*    PROJECTS SECTION*/
   
    h2.section-header {
        width: 60%;
    }

    div.container-reverse {
        width: 60%;
    }
    
    div.container {
        width: 60%;
    }
}

@media only screen and (min-width: 1700px) {
    
    /* NAV */
    div.content {
        width: 50%;
    }

    div#header-title {
            width: 40%;
            margin: auto;
    }

    /*    PROJECTS SECTION*/
    /* section#project-section {
        width: 50%;
    } */
    h2.section-header {
        width:50%;
    }

    div.container-reverse {
        width: 45%;
    }
    
    div.container {
        width: 45%;
    }
    
}