* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #382F5A;
}

footer {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* color: #fff; */
}

h1,h2{
    font-family: 'Corben', cursive;
}

h3,h4 {
    font-family: 'Corben', cursive;
}

h1{
    font-size: 3.815em;
}

h2 {
    font-size: 2.441em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.563em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h4 {
    font-size: 1.25em;
    padding-top: 16px;
    padding-bottom: 8px;
}

p {
    font-size: 1em;
    text-align: left;
}

span.bold {
    font-weight: 700;
}
/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /*    line-height: 65px;*/
    height: 90px;
}


nav > .content {
    /*    width: 100%;*/
    height: 90px;
    /*    margin: auto;*/
}

div.content {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/
div#nav-logo {
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div#nav-logo h3 {
    /*
    display: inline-block;
    position: absolute;
    */
    /*
    top: 50%;
    transform: translate(10%,-50%);
    */
    color: #392F5A;
    padding-left: 8px;
    padding-top: initial;
}

div#nav-logo img {
    width: 56px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    /*    background-color: #382F5A;*/
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    text-align: left;
}

ul#nav-links li.active {
    text-decoration: underline;
    font-weight: 600;
}


ul#nav-links li a {
    text-decoration: none;
    font-size: 2.441em;
    color: #F4D06F;
    padding: 32px 0;

}

ul#nav-links li a:hover {
    color: #efbc2e;
}


/*
li.mobile-hover:hover {
background-color: #382F5A;
width: 100%;
margin: auto 0;
padding: 0;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
}
*/

/*mobile hamburger menu*/

span.mobile-btn {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    color: #F4D06F;
    font-size: 3rem;
    text-align: right;
    display: block;
    padding-top: 30px;

}

ul#nav-links li.close:hover {
    cursor: pointer;
}

div.overlay {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #382F5A;
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 3;
    opacity: 1;

}

ul#nav-links.open{
    transform: translateX(0);
}


/*BIO Section*/


section#bio-section {
    width: 85%;
    margin: 25% auto;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
}

div.bio {
    width: 100%;
    margin: auto;
    color: #382F5A;
}

div.bio h2 {
    margin: auto;
    padding-top: 48px;
    padding-bottom: 16px;
    line-height: 1em;
}


div.bio-picture {
    width: 85%;
    margin: auto;
}

div.bio-picture img {
    width: 100%;
    margin: auto;
    display: block;
}

a.resume-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin-top: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color:#382F5A;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

a.resume-button:hover {
    background-color:#8879B9;
}



/*MAIN FOOTER*/


footer {
    width: 100%;
    margin: auto;
    margin-top: 48px;
}

footer h2.section-header {
    color: #fff;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 48px 0;
    line-height: 1em;
}

p.footer-credit {
    color: #382F5A;
    margin: 32px auto;
    text-align: center;
}

div#social-img {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#social-img a {
    width: 15%;
    margin: auto;
}


img.social-button {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
}



@media only screen and (min-width: 600px) {

    /*    NAV*/
    div.content {
        width: 75%;
    }

    ul#nav-links li{
        width: 75%;
    }

    /*Bio Section*/

    section#bio-section {
        width: 75%;
        margin: 15% auto;
    }

    div.bio-picture {
        width: 80%;
        margin: auto;
    }

    a.resume-button {
        width: 60%;
        margin: 32px auto;
    }

/*    FOOTER*/
    div#social-img {
        width: 50%;
    }

}

@media only screen and (min-width: 768px) {

    /*    NAV*/
    div.content {
        width: 70%;
    }

    ul#nav-links li{
        width: 70%;
    }

    /*Bio Section*/

    section#bio-section {
        width: 65%;
        margin: 15% auto;
    }

    div.bio-picture {
        width: 70%;
        margin: auto;
    }

    a.resume-button {
        width: 60%;
        margin: 32px auto;
    }

    /*    FOOTER*/
    div#social-img {
        width: 40%;
    }
}

@media only screen and (min-width: 900px) {

    /*  NAV*/

    div.content {
        width: 75%;
    }

    /*Nav links*/

    ul#nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: initial;
        transition: none;
        transform: none;
        width: 50%;

    }

    ul#nav-links li{
        width: 85%;
        text-align: center;
    }

    ul#nav-links li a {
        color: #392F5A;
        font-size: 1em;
        padding: 32px 0;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        display: none;
    }

    ul#nav-links li.close {
        display: none;
    }


    /*Bio Section*/


    section#bio-section {
        width: 75%;
        margin: 12% auto;
        flex-direction: row;
        align-items: flex-start;
    }

    div.bio {
        width: 60%;
        margin: auto;
    }
    div.bio-picture {
        width: 40%;
        margin: 0 30px;
    }

    div.bio-picture img {
        width: 100%;
    }
    /*    FOOTER*/
    div#social-img {
        width: 30%;
    }

}

@media only screen and (min-width: 1024px) {

    div#social-img {
        width: 25%;
    }

}

@media only screen and (min-width: 1200px) {

    section#bio-section {
        margin: 10% auto;
    }

    div.bio {
        width: 50%;
        margin: auto;
    }
    div.bio-picture {
        width: 35%;
        margin: 0 30px;
    }

    div#social-img {
        width: 20%;
    }

}

