* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

nav,
footer {
/*    padding: 0.5% 0;*/
    background-color: #ffffff;
    font-family: 'Karla', sans-serif;
    color: #a68148;
}

h1,
h2,
h3 {
    font-family: 'Karla', sans-serif;
}


h2 {
   font-size: 2.3rem;
     padding-bottom: 3%;
}

h3 {
    padding-bottom: 5%;
    font-size: 1.8rem;
    color: #a68148;
}

p {
    text-align: left;
}


/*NAV*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    line-height: 65px;
    height: 100px;
}

nav > .content {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

div#nav-logo {
    display: inline-block;
    margin: 15px auto;
    line-height: 1.2rem;
    position: relative;
    width: 50%;
}

div#nav-logo h3 {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(10%,-50%);
}

div#nav-logo img {
    width: 80px;
}


/*NAV LINKS*/

ul#nav-links {
    list-style: none;
    padding: 0 16px;
    float: right;
}

ul#nav-links li{
    display: inline-block;
    margin-left: 32px;

}

ul#nav-links li a{
    text-decoration: none;
    color: #a68148;
    font-size: 1.5rem;
    padding: 0 14px;
}

ul#nav-links li a:hover {
    color: #d5a860;
}

span.mobile-btn {
    float: right;
    display: none;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    display: none;
    font-size: 2rem;
}

ul#nav-links li.close:hover {
    cursor: pointer;
}

/*Bio Section*/


section#bio-section {
    width: 80%;
    margin: auto;
    display: flex;

    height: 100vh;
}

div.bio {
    width: 40%;
    margin: auto;
}

div.bio-picture {
    width: 40%;
    margin: auto;
}

div.bio-picture img {
    width: 100%;
}



/*footer*/


footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2baac;
    height: 20vh;
}

footer h2 {
    padding: 20px 0;
    color: #4c4045;
}
div#social-img {
    width: 30%;
    margin: auto;
    display: flex;
    text-align: center;
}

img.social-button {
    background-color: #d5a860;
    width: 50%;
    margin:auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 800px) {

    /*    OVERALL*/

    section {
        padding: 100px 0;
    }

    h3 {
        font-size: 1.5rem;
    }

    /*NAV*/
    div#nav-logo {
        font-size: 1.5rem;
        line-height: 1.2rem
    }

    ul#nav-links {
        margin-right: 15px;
    }

    ul#nav-links li{
        margin-left: 20px;
    }

    ul#nav-links li a {
        font-size: 0.9rem;
    }

    /*    HEADER*/

    header {
        padding-top: 90px;
        width: 80%;
    }

    div#header-title {
        margin-top: 10px;
    }

    p.header-description {
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-top: 20px;
    }

    /*ABOUT ME*/

    p#am-section-header {
        font-size: 2.6rem;
    }

    p.about-me {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    /*    Projects section*/

    p.section-header {
        font-size: 2.6rem;
    }

    div.header-highlight{
        height: 45px;
        padding-top: 10px;
    }

    div.project-img {
        width: 30%;
    }

    div.project-info p {
        line-height: 1.2rem;
        font-size: 0.9rem;
    }

    button.project-links {
        width: 100px;
    }

    button.project-links a {
        font-size: 0.9rem;
    }

    /*    CONTACT*/

    div#contact-info {
        width: 50%;
    }

    div#contact-info p {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 640px) {

/*    OVERALL*/

    section {
        padding: 100px 0;
    }

    h3 {
        font-size: 1.5rem;
    }

    /*NAV*/
    div#nav-logo {
        font-size: 1.3rem;
        line-height: 1.1rem
    }

    ul#nav-links {
        margin-right: 15px;
    }

    ul#nav-links li{
        margin-left: 20px;
    }

    ul#nav-links li a {
        font-size: 0.85rem;
    }

/*    HEADER*/


    p.header-description {
        font-size: 1rem;
        line-height: 1.3rem;
        padding-top: 20px;
    }


/*ABOUT ME*/

    p#am-section-header {
        font-size: 2.5rem;
        text-align: left;
    }

    div#about-me-group {
        margin: auto;
        width: 85%;
    }

    div#profile-img{
        float: none;
        width: 95%;
    }

    img#profile-pic {
        max-width: 100%;
        margin: auto;
    }

    p.about-me {
        font-size: 1rem;
        line-height: 1.2rem;
    }

/*    Projects section*/

    p.section-header {
        font-size: 2.5rem;
    }

    div.project-img {
        width: 90%;
        display: block;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 25px

    }

    img.project-screenshot{
        width: 90%;
    }

    div.project-info {
        width: 85%;
        display: inline-block;
        vertical-align: top;
    }

    div.project-info p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    button.project-links {
        width: 100px;
        padding: 1%;
    }

/*    CONTACT*/

    div#contact-info {
        width: 80%;
        padding: 5%;
    }

    div#contact-info p {
        width: 90%;
        font-size: 1.1rem;
    }

    div#social-img {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {

    /*    OVERALL*/

    section {
        padding: 70px 0;
    }

    h3 {
        font-size: 1.3rem;
    }

    /*NAV - collapsible nav bar deets*/
    div#nav-logo {
        font-size: 1.3rem;
        line-height: 1rem
    }

    ul#nav-links {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #483C46;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 3;
        width: 150px;
        transform: translateY(-400px);
        transition: all 300ms ease-in-out;
    }

    ul#nav-links li{
        display: block;
    }

    li.mobile-hover:hover {
        background-color: #6f5d6c;
        width: 100%;
        margin: auto;
        padding: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }

    ul#nav-links li a:hover {
        color: #F4743B;
    }

    ul#nav-links li a {
        font-size: 0.85rem;
        text-align: center;
    }

    ul#nav-links li.close {
        text-align: right;
        display: block;
    }

    div.overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.4);
        opacity: 0;
        z-index: -1;
        transform: opacity 300ms linear;
    }

    .overlay.open {
        z-index: 1;
        opacity: 1;
    }

    ul#nav-links.open{
        transform: translateX(0);
    }

    span.mobile-btn {
        display: inline-block;
    }


    /*    HEADER*/

    p.header-description {
        font-size: 0.8rem;
        line-height: 1rem;
        padding-top: 20px;
    }


    /*ABOUT ME*/

    section#about-me-section {
        width: 100%;
    }

    p#am-section-header {
        font-size: 1.7rem;
        text-align: left;
        margin-left: 50px;
    }

    /*    Projects section*/

    p.section-header {
        font-size: 1.7rem;
    }

    div.header-highlight{
        height: 40px;
        padding-top: 5px;
    }

    div#contact-info p {
        width: 90%;
        font-size: 0.9rem;
    }

}
