* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

nav,footer {
    background-color: #fff;
    font-family: 'Karla', sans-serif;
    color: #a68148;
}

h1,h2{
    font-family: 'Merriweather', serif;
}

h3,h4 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #a68148;
}

h3 {
    font-size: 1.3em;
    padding-bottom: 5%;
    color: #d48b47;
    padding: 20px 0;
}

h4 {
    font-size: 1em;
    color: #d24e45;
    padding: 20px 0;
}

p {
    text-align: left;
}
/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    line-height: 65px;
    height: 100px;
}

nav > .content {
    width: 80%;
    height: 100px;
    margin: auto;
}

div.content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/
div#nav-logo {
    margin: auto 0;
    width: 30%;
}

div#nav-logo h3 {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(10%,-50%);
    font-size: 1em;
    font-family: 'Merriweather', serif;
    color: #a68148;
}

div#nav-logo img {
    width: 60px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d5a860;
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li{
    display: block;
    margin-left: 32px;
}

li.active {
    text-decoration: underline;
    font-weight: 500;
}


ul#nav-links li a {
    text-decoration: none;
    color: #4c4045;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 14px;
}

ul#nav-links li a:hover {
    color: #d5a860;
}


li.mobile-hover:hover {
    background-color: #4c4045;
    width: 100%;
    margin: auto;
    padding: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

/*mobile hamburger menu*/

span.mobile-btn {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    color: #4c4045;
    font-size: 2rem;
    text-align: right;
    display: block;
    padding-right: 10px;
}

ul#nav-links li.close:hover {
    cursor: pointer;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 1;
    opacity: 1;
}

ul#nav-links.open{
    transform: translateX(0);
}
/*Bio Section*/


section#bio-section {
    width: 85%;
    margin: 25% auto;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
}

div.bio {
    width: 100%;
    margin: auto;
    color: #4c4045;
}

p#color {
    color: lightgray;
}

div.bio-picture {
    width: 80%;
    margin: auto;
}

div.bio-picture img {
    width: 100%;
}

a.resume-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #4c4045;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

a.resume-button:hover {
    background-color: #cdb6d4;
}





/*footer*/


footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2baac;
    min-height: 20vh;
}

footer h2 {
    padding: 20px 0;
    color: #4c4045;
}

p.footer-credit {
    color: #4c4045;
    margin: 20px auto;
}

div#social-img {
    width: 60%;
    margin: auto;
    display: flex;
    text-align: center;
}

img.social-button {
    background-color: #d5a860;
    width: 50%;
    margin:auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media only screen and (min-width: 600px) {
    /*Bio Section*/


    section#bio-section {
        margin: 15% auto;
    }

}

@media only screen and (min-width: 768px) {
    /*Bio Section*/

    section#bio-section {
        margin: 10% auto;
    }

    div.bio {
        width: 70%;

    }

    div.bio-picture {
        width: 70%;
    }

    div.bio-picture img {
        width: 100%;
    }

}

@media only screen and (min-width: 900px) {

    /*    OVERALL*/

    div#nav-logo h3 {
        font-size: 1.5rem;
    }

    div#nav-logo img {
        width: 80px;
    }

    div.content {
        width: 80%;
    }


    /*Nav links*/

    ul#nav-links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 10px 16px;
        float: right;
        width: initial;
        transform: none;
        transition: none;
        background-color: initial;
        position: initial;
        z-index: initial;
    }

    li.mobile-hover:hover {
        background-color: initial;
        width: initial;
        margin: initial;
        padding: initial;
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial;
        border-top-left-radius: initial;
    }

    ul#nav-links li {
        display: inline-block;
    }

    ul#nav-links li a {
        text-decoration: none;
        font-size: 1rem;
        color: #a68148;
    }

    ul#nav-links li a:active {
        color: #d5a860;
        text-decoration: underline;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        display: none;
    }

    ul#nav-links li.close {
        display: none;
    }

    /*Bio Section*/


    section#bio-section {
        margin: 12% auto;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    div.bio {
        width: 60%;
        margin: auto;
    }
    div.bio-picture {
        width: 40%;
        margin: 0 30px;
    }

    div.bio-picture img {
        width: 100%;
    }
    /*    footer*/
    div#social-img {
        width: 30%;
    }

}

