* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Calluna', serif;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav{
    background-color: #fff;
    font-family: 'Calluna', serif;
    color: #382F5A;
}

footer {
    background-color: #fff;
    font-family: 'Calluna', serif;
    /* color: #fff; */
}

h1,
h2 {
    font-family: calluna, serif;
    font-weight: 600;
    font-style: normal;
}

h3,
h4 {
    font-family: calluna, serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.5em;
    color: #241435;
}

h2 {
    font-size: 2em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.5em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h4 {
    font-size: 1.25em;
    padding-top: 16px;
    padding-bottom: 8px;
}

p {
    font-size: 1em;
    text-align: left;
}

span.bold {
    font-weight: 700;
}
/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /*    line-height: 65px;*/
    height: 90px;
}


nav > .content {
    /*    width: 100%;*/
    height: 90px;
    /*    margin: auto;*/
}

div.content {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/
div#nav-logo {
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div#nav-logo h3 {
    /*
    display: inline-block;
    position: absolute;
    */
    /*
    top: 50%;
    transform: translate(10%,-50%);
    */
    color: #392F5A;
    padding-left: 8px;
    padding-top: initial;
}

div#nav-logo img {
    width: 56px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    /*    background-color: #382F5A;*/
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    text-align: left;
}

ul#nav-links li.active {
    text-decoration: underline;
    font-weight: 600;
}


ul#nav-links li a {
    text-decoration: none;
    font-size: 2.441em;
    color: #F4D06F;
    padding: 32px 0;

}

ul#nav-links li a:hover {
    color: #efbc2e;
}


/*
li.mobile-hover:hover {
background-color: #382F5A;
width: 100%;
margin: auto 0;
padding: 0;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
}
*/

/*mobile hamburger menu*/

span.mobile-btn {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    color: #F4D06F;
    font-size: 3rem;
    text-align: right;
    display: block;
    padding-top: 30px;

}

ul#nav-links li.close:hover {
    cursor: pointer;
}

div.overlay {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #382F5A;
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 3;
    opacity: 1;

}

ul#nav-links.open{
    transform: translateX(0);
}



/*Form*/

section#form-section {
    width: 100%;
    margin: 25% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#form-picture {
    width: 90%;
    margin: auto;
}

div#form-picture h2 {
    margin-top: 48px;
    color: #392F5A;
    line-height: 1em;
}

div#form-picture p {
    color: #0F0F0F;
}


div#form-picture img {
    padding-top: 30px;
    width: 100%;
    margin: auto;
}

div.card-body{
    border: 3px solid #382F5A;
    width: 85%;
    margin: 48px auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


div#form {
    margin: auto;
    width: 100%;

}

form {
    margin: auto;
    width: 100%;
    font-family: 'Calluna', serif;
}


form input[type=text] {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Calluna', serif;
    margin: 16px auto;
    border: 2px solid #D8D8D8;
}

form input[type=email] {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Calluna', serif;
    margin: auto;
    border: 2px solid #D8D8D8;
}


form textarea {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    margin: 16px auto;
    border: 2px solid #D8D8D8;
}

form textarea[placeholder] {
    font-family: 'Calluna', serif;
}

div.g-recaptcha {
    transform:scale(0.85);
    transform-origin:0 0;
}


form input[type=submit] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin-top: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color:#382F5A;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

form input[type=submit]:hover {
    background-color: #cdb6d4;
}


/*MAIN FOOTER*/


footer {
    width: 100%;
    margin: auto;
    margin-top: 48px;
}

footer h2.section-header {
    color: #fff;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 48px 0;
    line-height: 1em;
}

p.footer-credit {
    color: #382F5A;
    margin: 32px auto;
    text-align: center;
}

div#social-img {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#social-img a {
    width: 15%;
    margin: auto;
}


img.social-button {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
}

@media only screen and (min-width: 600px) {

    /*    NAV*/
    div.content {
        width: 75%;
    }

    ul#nav-links li{
        width: 75%;
    }

    /*Form*/
    section#form-section {
        width: 75%;
        margin: 15% auto;
    }

    div#form-picture {
        width: 80%;
        margin: auto;
    }

    div#social-img {
        width: 50%;
    }

}

@media only screen and (min-width: 768px) {

    /*    NAV*/
    div.content {
        width: 70%;
    }

    ul#nav-links li{
        width: 70%;
    }

    /*Form*/
    section#form-section {
        width: 60%;
        margin: 15% auto;
    }

    div#form-picture {
        width: 80%;
        margin: auto;
    }

    div#social-img {
        width: 40%;
    }

}


@media only screen and (min-width: 900px) {

    /*  NAV*/

    div.content {
        width: 75%;
    }

    /*Nav links*/

    ul#nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: initial;
        transition: none;
        transform: none;
        width: 50%;

    }

    ul#nav-links li{
        width: 85%;
        text-align: center;
    }

    ul#nav-links li a {
        color: #392F5A;
        font-size: 1em;
        padding: 32px 0;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        display: none;
    }

    ul#nav-links li.close {
        display: none;
    }

    /*    FORM*/
    /*Form*/
    section#form-section {
        width: 75%;
        margin: 15% auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    div#form-picture {
        width: 100%;
        margin: 0 auto;
    }

    div#form-picture h2 {
        margin-top: 0;
        padding-top: 0;
        line-height: 1.2;
    }

    div.card-body{
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }


    div.form-picture img {
        width: 100%;
    }

    div.form {
        width: 30%;
        margin: auto;
    }

    /*    footer*/
    div#social-img {
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {

    div#form-picture {
        width: 90%;
    }

    div#social-img {
        width: 25%;
    }

}

@media only screen and (min-width: 1200px) {

    div#form-picture {
        width: 65%;
        margin: 0 auto;
    }


    div#social-img {
        width: 20%;
    }

}
