* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Calluna', serif;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav {
    background-color: #fff;
    font-family: 'Calluna', serif;
    color: #382F5A;
}

footer {
    background-color: #fff;
    font-family: 'Calluna', serif;
    /* color: #fff; */
}

h1,
h2 {
    font-family: calluna, serif;
    font-weight: 600;
    font-style: normal;
    color: #33184D;
}

h3,
h4 {
    font-family: calluna, serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    padding: 16px 0;
}

h3 {
    font-size: 1.5em;
    padding: 12px 0;
    color: #030106;
}

h4 {
    font-size: 1.25em;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #502183;
}

p {
    font-size: 1em;
    text-align: left;
    color: #030106;
    padding: 12px 0;
}

span.bold {
    font-weight: 700;
}

/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /*    line-height: 65px;*/
    height: 90px;
}


nav>.content {
    /*    width: 100%;*/
    height: 90px;
    /*    margin: auto;*/
}

div.content {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/
div#nav-logo {
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div#nav-logo h3 {
    /*
    display: inline-block;
    position: absolute;
    */
    /*
    top: 50%;
    transform: translate(10%,-50%);
    */
    color: #392F5A;
    padding-left: 8px;
    padding-top: initial;
}

div#nav-logo img {
    width: 48px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    /*    background-color: #382F5A;*/
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    text-align: left;
}

ul#nav-links li.active {
    /* text-decoration: underline; */
    font-weight: 600;
}


ul#nav-links li a {
    text-decoration: none;
    font-size: 2.441em;
    color: #F4D06F;
    padding: 32px 0;

}

ul#nav-links li a:hover {
    color: #efbc2e;
}


/*
li.mobile-hover:hover {
background-color: #382F5A;
width: 100%;
margin: auto 0;
padding: 0;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
}
*/

/*mobile hamburger menu*/

span.mobile-btn {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    color: #F4D06F;
    font-size: 3rem;
    text-align: right;
    display: block;
    padding-top: 30px;

}

ul#nav-links li.close:hover {
    cursor: pointer;
}

div.overlay {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #382F5A;
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 3;
    opacity: 1;

}

ul#nav-links.open {
    transform: translateX(0);
}

/*CASE STUDY IMAGES*/
div.image-box {
    width: 100%;
    margin: auto;
    padding: 24px 0;
}

div.image-box img {
    margin: auto;
    width: 100%;
    display: block;
}

div.image-box2, div.image-box3 {
    width: 90%;
    margin: 32px auto;
    position: relative;
}

div.image-box2:after {
    content: "";
    height: 30px;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/tape-yellow.png');
    /*    background-color: rgba(32, 163, 158, .2);*/
    transform: translateX(-150%) translateY(-40%);
}

div.image-box2 img {
    width: 100%;
    height: auto;
    margin: 24px auto;
    display: block;
    transform: rotate(1deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

div.image-box3 img {
    width: 100%;
    height: auto;
    margin: 24px auto;
    display: block;
    transform: rotate(-1deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

div.image-box3:after {
    content: "";
    height: 30px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/tape-yellow.png');
    /*    background-color: rgba(32, 163, 158, .2);*/
    transform: translateX(-150%) translateY(-40%);
}

div.image-box4 {
    width: 80%;
    margin: 30px auto;
}

div.image-box4 img {
    margin: auto;
    width: 100%;
    display: block;
    padding-top: 16px;
}


/*GREENER HEADER*/

header {
    width: 85%;
    margin: 25% auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.case-study-image {
    width: 85%;
    margin: auto;
}

a#prototype-button-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin: 16px auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #5F259F;
    text-decoration: none;
    font-size: 1em;
    color: #5F259F;
    font-weight: 600;
}

a#prototype-button-header:hover {
    background-color: #E6D9EF;
}

/* SECTIONS */
section.top {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
}

section.middle {
    width: 100%;
    margin: auto;
    padding-bottom: 32px;
}

section.bottom {
    width: 100%;
    margin: auto;
    padding-bottom: 48px;
}

/* CASE STUDY CONTAINERS */

div.container {
    width: 85%;
    margin: auto;
}


/*USERS ROLES AND SCOPES row with 3 sections*/

div#container-middle {
    padding: 32px 0;
}



/*THE PROCESS*/

/* ACCORDIAN DETAILS on white background */

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #e0dbe5;
    color: #030106;
    cursor: pointer;
    width: 85%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 1px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 24px;
    font-size: 1.25em;
    font-family: 'Calluna', serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #c3bacd;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 5px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*ACCORDION SECTIONS*/

div.accordion-section {
    width: 100%;
    margin: auto;
}

div.accordion-container {
    width: 85%;
    margin: auto;
    padding: 20px 0;
}


div.accordion-container img {
    width: 85%;
    margin: auto;
    display: block;
    padding: 16px 0;
}

div.accordion-container ul {
    width: 90%;
    /* padding: 16px; */
    margin: auto;
}

div.accordion-container ul li {
    margin: 8px 0 15px 0;
}


div.accordion-container ol {
    width: 85%;
    /* padding: 16px; */
    margin: auto;
}



/*VISUAL DEISGN*/

div.color-type-image {
    width: 95%;
    margin: 48px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transform: rotate(2deg);
    padding: 16px 0;
    position: relative;
}

div.color-type-image:before {
    content: "";
    height: 30px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(244, 208, 111, .3);
    transform: translateX(-30%) translateY(10%) rotate(-45deg);
}

div.colors-group-1,
.colors-group-2 {
    padding-top: 32px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

p.label {
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: center;
}

div#color1 div {
    background-color: #86BBD8;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div#color2 div {
    background-color: #E0A458;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div#color3 div {
    background-color: #40476D;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div#color4 div {
    background-color: #79B473;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div.typography-group {
    padding-top: 32px;
    width: 80%;
    margin: auto;
}

div.typography-group p {
    padding: 16px 0;
}

div.typography-group p:nth-child(1) {
    font-family: 'proxima-soft-condensed', sans-serif;
    font-size: 40px;
    line-height: 1em;
}

div.typography-group p:nth-child(2) {
    font-family: 'proxima-soft', sans-serif;
    font-size: 30px;
    line-height: 1em;
}

div.typography-group p:nth-child(3) {
    font-family: 'proxima-soft', sans-serif;
    font-size: 20px;
    line-height: 1em;
}

div.typography-group p:nth-child(4) {
    font-family: 'proxima-soft', sans-serif;
    font-size: 16px;
    line-height: 1em;
}

div.typography-group p:nth-child(5) {
    font-family: 'proxima-soft', sans-serif;
    font-size: 14px;
    line-height: 1em;
}

/*Usability Test*/

div.chart-container {
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: #fff;
    transform: rotate(2deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: 48px;
    margin-bottom: 24px;
    position: relative;
}

div.chart-container:before {
    content: "";
    height: 30px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(244, 208, 111, .3);
    transform: translateX(-30%) translateY(10%) rotate(-45deg);
}

canvas#myChart {
    height: 100px;
}


/*PREFERENCE TESTING*/

span.quote {
    font-weight: 600;
    font-style: italic;
    font-size: 1.25em;
}

/*FINAL PROTOTYPE*/

div.app-gif {
    padding-top: 32px;
    width: 40%;
    margin: auto;
}

div.app-gif img {
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

a#prototype-button-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin: 16px auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #5F259F;
    text-decoration: none;
    font-size: 1em;
    color: #5F259F;
    font-weight: 600;
}

a#prototype-button-final:hover {
    background-color: #E6D9EF;
}


/*MAIN FOOTER*/

footer {
    width: 100%;
    margin: auto;
    margin-top: 48px;
}

footer h2.section-header {
    color: #fff;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 48px 0;
    line-height: 1em;
}

p.footer-credit {
    color: #382F5A;
    margin: 32px auto;
    text-align: center;
}

div#social-img {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#social-img a {
    width: 15%;
    margin: auto;
}


img.social-button {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
}

@media only screen and (min-width: 600px) {

    div.image-box {
        width: 90%;
    }

    div.image-box2,
    div.image-box3 {
        width: 80%;
    }

    div.image-box4 {
        width: 70%;
    }

    /*        CHARTS*/
    div.chart-container {
        width: 80%;
        height: 80%;
    }

    /*    TAPE*/
    div.image-box2:after {
        transform: translateX(-350%) translateY(-40%);
    }

    div.image-box3:after {
        transform: translateX(-300%) translateY(-40%);
    }


    /*    NAV*/
    div.content {
        width: 75%;
    }

    ul#nav-links li {
        width: 75%;
    }

    /*    GREENER HEADER*/
    header {
        width: 75%;
        margin: 15% auto 0 auto;
    }

    div.case-study-image {
        width: 80%;
    }

    /* SECTION CONTAINERS */
    div.container {
        width: 75%;
    }

    /* ACCORDIAN DETAILS */

    .accordion {
        width: 75%;
    }

    div.accordion-container {
        width: 75%;
    }

    /*    STYLE GUIDE*/

    div.color-type-image {
        width: 80%;
    }

    div.color-type-image:before {
        height: 45px;
        width: 120px;
    }

    div#color1 div {
        width: 120px;
        height: 120px;
    }

    div#color2 div {
        width: 120px;
        height: 120px;
    }

    div#color3 div {
        width: 120px;
        height: 120px;
    }

    div#color4 div {
        width: 120px;
        height: 120px;
    }



    div.chart-container:before {
        height: 40px;
        width: 120px;
    }

    /*FINAL PROTOTYPE*/

    a#prototype-button-final {
        width: 60%;
        margin: 32px auto;
    }

    /*    FOOTER*/

    /*    social images*/
    div#social-img {
        width: 50%;
    }

}

@media only screen and (min-width: 768px) {

    /*        CHARTS*/
    div.chart-container {
        width: 70%;
        height: 70%;
    }

    /*    IMAGE BOX*/


    div.image-box2,  
    div.image-box3 {
        width: 70%;
    }

    div.image-box4 {
        width: 60%;
    }


    /*    TAPE*/
    div.image-box2:after {
        transform: translateX(-350%) translateY(-40%);
    }

    div.image-box3:after {
        transform: translateX(-350%) translateY(-40%);
    }

    /*    NAV*/
    div.content {
        width: 70%;
    }

    ul#nav-links li {
        width: 70%;
    }

    /*    GREENER HEADER*/
    header {
        width: 70%;
    }

    div.case-study-image {
        width: 70%;
    }

    /* SECTION CONTAINERS */
    div.container {
        width: 70%;
    }    


    /* ACCORDIAN DETAILS */

    .accordion {
        width: 70%;
    }

    div.accordion-container {
        width: 70%;
    }

    div.color-type-image {
        width: 70%;
    }

    /*FINAL PROTOTYPE*/

    div.final-prototype-container {
        width: 60%;
    }

    /*    FOOTER*/

    /*    social images*/
    div#social-img {
        width: 40%;
    }
}

@media only screen and (min-width: 900px) {

    /*        CHARTS*/
    div.chart-container {
        width: 60%;
        height: 60%;
    }

    /*    IMAGE BOX*/

    div.image-box {
        width: 75%;
    }


    div.image-box2,
    div.image-box3 {
        width: 65%;
    }

    div.image-box4 {
        width: 55%;
    }


    /*  NAV*/

    div.content {
        width: 75%;
    }

    /*Nav links*/

    ul#nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: initial;
        transition: none;
        transform: none;
        width: 35%;

    }

    ul#nav-links li {
        width: 85%;
        text-align: center;
    }

    ul#nav-links li a {
        color: #33184D;
        font-size: 1em;
        padding: 32px 0;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        display: none;
    }

    ul#nav-links li.close {
        display: none;
    }

    /*    HEADER*/

    header {
        width: 65%;
    }

    div.case-study-image {
        width: 60%;
    }

    .header-buttons {
        width: 50%;
    }

    a#prototype-button-header {
        margin: 12px auto;
    }

    /* SECTION CONTAIINER */
    div.container {
        width: 65%;
    }

/* ACCORDION */
    .accordion {
        width: 65%;
    }

    div.accordion-container {
        width: 65%;
    }

    div.color-type-image {
        width: 65%;
    }


    /*    FOOTER*/

    div#social-img {
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {

    /*        CHARTS*/
    div.chart-container {
        width: 50%;
        height: 50%;
    }

    /*    IMAGE BOX*/

    div.image-box2,
    div.image-box3 {
        width: 55%;
    }

    div.image-box4 {
        width: 50%;
    }

    /*    HEADER*/
    header {
        width: 60%;
    }

    div.case-study-image {
        width: 55%;
    }

    /* SECTION CONTAINERS */
    div.container {
        width: 60%;
    }


    /* ACCORDIAN DETAILS */

    .accordion {
        width: 60%;
    }

    div.accordion-container {
        width: 60%;
    }


    div.color-type-image {
        width: 55%;
    }

    /*    FOOTER*/

    div#social-img {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {

    /*    IMAGE BOX*/

    div.image-box2,
    div.image-box3 {
        width: 45%;
    }

    div.image-box4 {
        width: 40%;
    }

    /*        CHARTS*/
    div.chart-container {
        width: 40%;
        height: 40%;
    }

    /*  NAV*/

   div.content {
    width: 70%;
   }

    /*    HEADER*/
    header {
        width: 50%;
    }    

    div.case-study-image {
        width: 50%;
    }
   
    /* SECTION CONTAINERS */
    div.container {
        width: 50%;
        }


    /* ACCORDIAN DETAILS */

    .accordion {
        width: 50%;
    }

    div.accordion-container {
        width: 50%;
    }

    div.color-type-image {
        width: 40%;
    }

/* footer */
    div#social-img {
        width: 20%;
    }
}
@media only screen and (min-width: 1440px) {
    
    /*    IMAGE BOX*/

    div.image-box2,
    div.image-box3 {
        width: 40%;
    }

    div.image-box4 {
        width: 35%;
    }

    /*  NAV*/
 
    div.content {
     width: 60%;
 }
 
    /*    HEADER*/
    header {
        width: 45%;
        margin: 10% auto 0 auto;
    }    

    div.case-study-image {
        width: 45%;
    }

    /* SECTION CONTAINERS */
    div.container {
        width: 45%;
    }


    /* ACCORDIAN DETAILS */

    .accordion {
        width: 45%;
    }

    div.accordion-container {
        width: 45%;
    }

    /* COLOR IMAGE */
    div.color-type-image {
        width: 35%;
    }
 }
 
 @media only screen and (min-width: 1700px) {
     
    /*    IMAGE BOX*/
    div.image-box2,
    div.image-box3 {
        width: 35%;
    }

    div.image-box4 {
        width: 30%;
    }

/* NAV */
div.content {
    width: 50%;
}

    /*    HEADER*/
    header {
        width: 40%;
    }    

    div.case-study-image {
        width: 40%;
    }

    /* SECTION CONTAINERS */
    div.container {
        width: 40%;
    }

        /* ACCORDIAN DETAILS */

    .accordion {
        width: 40%;
    }

    div.accordion-container {
        width: 40%;
    }

    /* COLOR IMAGE */
    div.color-type-image {
        width: 25%;
    }
 }