* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #382F5A;
}

footer {
    background-color: #20A39E;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

h1,
h2 {
    font-family: 'Corben', cursive;
}

h3,
h4 {
    font-family: 'Corben', cursive;
}

h1 {
    font-size: 3.815em;
}

h2 {
    font-size: 2.441em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.563em;
    padding-top: 16px;
    padding-bottom: 8px;
}

h4 {
    font-size: 1.25em;
    padding: 16px 8px;
}

p {
    font-size: 1em;
    text-align: left;
}

span.bold {
    font-weight: 700;
}

/*NAV*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /*    line-height: 65px;*/
    height: 90px;
}


nav>.content {
    /*    width: 100%;*/
    height: 90px;
    /*    margin: auto;*/
}

div.content {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Nav logo and name*/

div#nav-logo {
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div#nav-logo h3 {
    /*
    display: inline-block;
    position: absolute;
    */
    /*
    top: 50%;
    transform: translate(10%,-50%);
    */
    color: #392F5A;
    padding-left: 8px;
    padding-top: initial;
}

div#nav-logo img {
    width: 56px;
}

ul#nav-links {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    /*    background-color: #382F5A;*/
    z-index: 3;
    width: 100%;
    transform: translateY(-400px);
    transition: all 300ms ease-in-out;
}

ul#nav-links li {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    text-align: left;
}

ul#nav-links li.active {
    text-decoration: underline;
    font-weight: 600;
}


ul#nav-links li a {
    text-decoration: none;
    font-size: 2.441em;
    color: #F4D06F;
    padding: 32px 0;

}

ul#nav-links li a:hover {
    color: #efbc2e;
}


/*
li.mobile-hover:hover {
background-color: #382F5A;
width: 100%;
margin: auto 0;
padding: 0;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
}
*/

/*mobile hamburger menu*/

span.mobile-btn {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
}

span.mobile-btn:hover {
    cursor: pointer;
}

ul#nav-links li.close {
    color: #F4D06F;
    font-size: 3rem;
    text-align: right;
    display: block;
    padding-top: 30px;

}

ul#nav-links li.close:hover {
    cursor: pointer;
}

div.overlay {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #382F5A;
    opacity: 0;
    z-index: -1;
}

.overlay.open {
    z-index: 3;
    opacity: 1;

}

ul#nav-links.open {
    transform: translateX(0);
}

/*CASE STUDY IMAGES*/
div.image-box {
    width: 90%;
    margin: 30px auto;
}

div.image-box img {
    margin: auto;
    width: 100%;
    display: block;
    padding-top: 16px;
}

div.image-box2 {
    width: 90%;
    margin: 30px auto;
    position: relative;
}

div.image-box3 {
    width: 90%;
    margin: 30px auto;
    position: relative;
}

div.image-box2:after {
    content: "";
    height: 35px;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/tape.png');
    /*    background-color: rgba(32, 163, 158, .2);*/
    transform: translateX(-150%) translateY(-40%);
}

div.image-box2 img {
    width: 100%;
    height: auto;
    margin: 24px auto;
    display: block;
    transform: rotate(1deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

div.image-box3 img {
    width: 100%;
    height: auto;
    margin: 24px auto;
    display: block;
    transform: rotate(-1deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

div.image-box3:after {
    content: "";
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/tape.png');
    /*    background-color: rgba(32, 163, 158, .2);*/
    transform: translateX(-150%) translateY(-40%);
}

div.image-box4 {
    width: 90%;
    margin: 30px auto;
}

div.image-box4 img {
    margin: auto;
    width: 100%;
    display: block;
    padding-top: 16px;
}

div.persona-box {
    width: 90%;
}

div.web-size {
    width: 90%;
}

/*GROMM HEADER*/

header {
    width: 85%;
    margin: 25% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.case-study-name {
    color: #20A39E;
}

h3.section-title {
    color: #0F0F0F;
}

div.case-study-image {
    width: 100%;
    margin: 24px auto;
}

div.case-study-image img {
    margin: auto;
    width: 100%;
    padding: 16px 0;
}

div.case-study-title {
    width: 100%;
    margin: auto;
}

p.case-study-description {
    padding-top: 16px;
}

a.prototype-button-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin-top: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #382F5A;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

a.prototype-button-header:hover {
    background-color: #8879B9;
}

/*PROBLEM STATEMENTn*/

section#problem {
    width: 100%;
    margin: auto;
    background-color: #FDF6E1;
    padding-top: 48px;
    padding-bottom: 48px;
}

div.problem-container h3 {
    color: #0F0F0F;
    margin-left: 7.5%;
}

div#statement {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4c4045;
}

div#statement p {
    width: 85%;
    margin-top: 16px;
}

/*USERS ROLES AND SCOPES row with 3 sections*/

section#users-roles-scope {
    width: 100%;
    margin: auto;
    padding-top: 48px;
    padding-bottom: 48px;
}

div.container {
    width: 85%;
    margin: auto;
}

div.container h3 {
    color: #0F0F0F;
    padding-bottom: 16px;
}

div#users {
    padding: 16px 0;
}

div#scope {
    padding: 16px 0;
}


div#roles {
    padding: 16px 0;
}

/*THE SOLUTIONn*/

section#solution {
    width: 100%;
    margin: auto;
    background-color: #FDF6E1;
    padding-top: 48px;
    padding-bottom: 32px;
}

div.solution-container h3 {
    color: #0F0F0F;
    margin-left: 7.5%;
}

div#solution-statement {
    width: 85%;
    margin: auto;
    padding-top: 16px;
}


/*THE PROCESS*/

section#process {
    width: 100%;
    margin: auto;
    padding-top: 48px;
}

section#process h3 {
    color: #0F0F0F;
}


/* ACCORDIAN DETAILS on white background */

/* Style the buttons that are used to open and close the accordion panel */



.accordion {
    background-color: #D5D3DC;
    color: #444;
    cursor: pointer;
    width: 85%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 1px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #382F5A;
    padding: 16px 24px;
    font-size: 1.25em;
    font-family: 'Corben', cursive;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #BCB9C8;
}

/* .accordion:after {
    content: '\002B';
    font-size: 24px;
    color: #A1700C;
    font-weight: bold;
    float: right;
    margin-right: 15px;
  }
  
  .active:after {
    content: "\2212";
  } */

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 5px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* DISCOVERY AND RESEARCH INTRO */
div.discovery {
    width: 85%;
    margin: auto;
}

/*COMPETITIVE ANALYSIS*/

div.competitive-analysis {
    width: 85%;
    margin: auto;
}

/*USER SURVEY*/

div#user-survey {
    width: 85%;
    margin: auto;
    padding-top: 32px;
}

/*USER SURVEY CHARTS*/

div.chart-container2 {
    height: 85%;
    width: 85%;
    background-color: #fff;
    transform: rotate(-2deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 48px auto;
    position: relative;
}

div.chart-container2:before {
    content: "";
    height: 35px;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/tape.png');
    /*    background-color: rgba(32, 163, 158, .2);*/
    transform: translateX(30%) translateY(10%) rotate(45deg);
}


canvas#usabilityChart1 {
    height: 100px;
}


canvas#usabilityChart2 {
    height: 100px;
}


canvas#usabilityPieChart {
    height: 100px;
}


/*PERSONAS*/

div.persona-container {
    width: 100%;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 48px;
}

div.personas {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ACCORDIAN panel on yellow background */


/* Style the accordion panel. Note: hidden by default */
.panel-yellow {
    padding: 0 5px;
    background-color: #FDF6E1;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*Information architecture*/

/* DEFINE INTRO */
div.define-intro {
    width: 85%;
    margin: auto;
    padding-top: 32px;
}

/*User Stories*/

section.information-architecture {
    width: 100%;
    margin: 48px auto auto auto;
    background-color: #FDF6E1;
    background-size: cover;
    padding: 48px 0;
}

section.information-architecture h3 {
    width: 85%;
    margin: auto;
}


div.user-stories {
    width: 85%;
    margin: auto;
    padding-top: 24px;
}


/*WIREFRAME SKETCHES*/

div.wireframe-sketch {
    width: 85%;
    margin: auto;
    padding-top: 24px;
}

a.case-study-link {
    text-decoration: none;
    color: #20A39E;
}


/*VISUAL DEISGN SECTION*/

section.visual-design {
    width: 100%;
    margin: auto;
    padding: 48px 0;
}

section.visual-design h3 {
    width: 85%;
    margin: auto;
}

div.color-type-container {
    width: 85%;
    margin: auto;
    padding-top: 24px;
}

/*LOGOS AND NAME*/

div.logo-container {
    width: 85%;
    margin: auto;
    padding-top: 24px;
}


/*COLOR AND TYPE*/

div.color-type {
    width: 85%;
    margin: auto;
    padding-top: 24px;
}


div.color-type-image {
    width: 100%;
    margin: 48px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transform: rotate(2deg);
    padding: 16px 0;
    position: relative;
}

div.color-type-image:before {
    content: "";
    height: 40px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/tape.png');
    /*    background-color: rgba(32, 163, 158, .2);*/
    transform: translateX(-30%) translateY(10%) rotate(-45deg);
}

div.colors-group-1,
.colors-group-2 {
    padding-top: 32px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

p.label {
    font-size: 0.80em;
    line-height: 1.2em;
    text-align: center;
}

div#color1 div {
    background-color: #1C5D99;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div#color2 div {
    background-color: #B0E298;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div#color3 div {
    background-color: #F1D302;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div#color4 div {
    background-color: #E55934;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: 0;
}

div.typography-group {
    padding-top: 32px;
    width: 80%;
    margin: auto;
}

div.typography-group p {
    padding: 16px 0;
}

div.typography-group p:nth-child(1) {
    font-family: 'proxima-nova', sans-serif;
    font-size: 32px;
    line-height: 1em;
    font-weight: 600;
}

div.typography-group p:nth-child(2) {
    font-family: 'proxima-nova', sans-serif;
    font-size: 24px;
    line-height: 1em;
    font-weight: 600;
}

div.typography-group p:nth-child(3) {
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    line-height: 1em;
    font-weight: 500;
}

div.typography-group p:nth-child(4) {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
}

div.typography-group p:nth-child(5) {
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
}



/*PROTOTYPING AND TESTING*/

section.prototype-test {
    width: 100%;
    margin: auto;
    padding: 48px 0;
    background-color: #FDF6E1;
}

section.prototype-test h3 {
    width: 85%;
    margin: auto;
}

div.prototype-test-container {
    width: 85%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

/*ITERATIONS*/

div.iterations {
    padding-top: 24px;
    width: 85%;
    margin: auto;
}

/*Usability Test*/

div.usability-test-container {
    width: 100%;
    margin: auto;
    padding-top: 24px;
}

div.usability-test {
    width: 85%;
    margin: auto;
}

div.usability-facts {
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
}

div.usability-facts p {
    text-align: center;
}

div.usability-facts span {
    font-size: 2.441em;
    font-weight: 600;
    font-family: 'Corben', cursive;
}

div.usability-test ul {
    width: 80%;
    padding: 16px;
    margin: auto;
}

div.usability-test ul li {
    margin: 0 0 15px 0;
}


div.chart-container {
    height: 85%;
    width: 85%;
    background-color: #fff;
    transform: rotate(2deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 48px auto;
    position: relative;
}

div.chart-container:before {
    content: "";
    height: 30px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/tape.png');
    /*    background-color: rgba(32, 163, 158, .2);*/
    transform: translateX(-30%) translateY(10%) rotate(-45deg);
}

canvas#usabilityTest {
    height: 100px;
}


/*USABILITY TEST ITERATIONS*/
div.usability-test-iterations {
    width: 85%;
    margin: auto;
    padding-top: 24px;
}


/*FINAL PROTOTYPE*/

div.final-prototype-container {
    width: 85%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 48px;
}

div.app-gif {
    padding-top: 24px;
    width: 85%;
    margin: auto;

}

div.app-gif img {
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

a.prototype-button-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin-top: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #382F5A;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

a.prototype-button-final:hover {
    background-color: #8879B9;
}

/*CONCLUSION*/

section.conclusion {
    width: 100%;
    margin: auto;
    padding: 48px 0;
}

section.conclusion h3 {
    width: 85%;
    margin: auto;
}

div.learnings-container {
    width: 85%;
    margin: auto;
}

div.learnings-container h4 {
    margin-left: 0;
    padding: 16px 0;
    color: #382F5A;
}



/*MAIN FOOTER*/

footer {
    width: 100%;
    margin: auto;
    margin-top: 48px;
}

footer h2.section-header {
    color: #fff;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 48px 0;
    line-height: 1em;
}

p.footer-credit {
    color: #fff;
    margin: 32px auto;
    text-align: center;
}

div#social-img {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#social-img a {
    width: 15%;
    margin: auto;
}


img.social-button {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
}


@media only screen and (min-width: 600px) {

    /*        CHARTS*/
    div.chart-container,
    div.chart-container2 {
        width: 80%;
        height: 80%;
    }


    /*    TAPE*/
    div.image-box2:after {
        transform: translateX(-200%) translateY(-40%);
    }

    div.image-box3:after {
        transform: translateX(-300%) translateY(-40%);
    }



    /*    NAV*/
    div.content {
        width: 75%;
    }

    ul#nav-links li {
        width: 75%;
    }

    /*    HEADER*/
    header {
        width: 75%;
        margin: 15% auto;
    }

    div.case-study-image {
        width: 85%;
    }

    /*    THE PROBLEM*/
    div.problem-container h3 {
        margin-left: 12.5%;
    }

    div#statement p {
        width: 75%;
    }

    /*        USERS ROLES AND SCOPE*/
    div.container {
        width: 75%;
    }

    /*    THE SOLUTION*/
    div#solution-statement {
        width: 75%;
    }

    div.solution-container h3 {
        margin-left: 12.5%;
    }


    /* ACCORDIAN DETAILS */

    .accordion {
        width: 75%;
    }

    /* ////////////////////////////////////////////////////// */

    /* DISCOVERY AND RESEARCH INTRO */
    div.discovery {
        width: 75%;
    }

    /*    COMPETITIVE ANALYSIS*/
    div.competitive-analysis {
        width: 75%;
    }

    /*USER SURVEY*/

    div#user-survey {
        width: 75%;
    }


    /*    PERSONAS*/
    div.personas {
        width: 75%;
    }

    /* /////////////////////////////////////////// */

    /* DEFINE INTRO */
    div.define-intro {
        width: 75%;
    }

    section.information-architecture h3 {
        width: 75%;
        margin: auto;
    }


    /*    USER STORIES*/
    div.user-stories {
        width: 75%;
    }


    /*USER FLOWS*/
    div.user-flow {
        width: 75%;
    }

    /*WIREFRAME SKETCHES*/
    div.wireframe-sketch {
        width: 75%;
    }

    div.digital-wireframes {
        width: 75%;
    }

    /*    CHART TAPE*/

    div.chart-container:before {
        height: 40px;
        width: 120px;
    }

    div.chart-container2:before {
        height: 40px;
        width: 120px;
    }

    /* //////////////////////////////////////////////////
 */
    /*VISUAL DEISGN*/
    section.visual-design h3 {
        width: 75%;
    }

    div.color-type-container {
        width: 75%;
    }

    /*LOGOS AND NAME*/

    div.logo-container {
        width: 75%;
    }

    /*COLOR AND TYPE*/

    div.color-type {
        width: 75%;
    }



    /*    STYLE GUIDE*/

    div.color-type-image:before {
        height: 45px;
        width: 120px;
    }

    div#color1 div {
        width: 120px;
        height: 120px;
    }

    div#color2 div {
        width: 120px;
        height: 120px;
    }

    div#color3 div {
        width: 120px;
        height: 120px;
    }

    div#color4 div {
        width: 120px;
        height: 120px;
    }


    /* ////////////////////////////////////////// */

    /*PROTOTYPING AND TESTING*/
    section.prototype-test h3 {
        width: 75%;
    }

    div.prototype-test-container {
        width: 75%;
    }

    /*ITERATIONS*/

    div.iterations {
        width: 75%;
    }

    /*Usability Test*/

    div.usability-test {
        width: 75%;
    }


    div.usability-test ul {
        width: 80%;
    }

    /*USABILITY TEST ITERATIONS*/
    div.usability-test-iterations {
        width: 75%;
    }



    /*    FINAL PROTOTYPE*/
    div.final-prototype-container {
        width: 75%;
    }

    a.prototype-button-final {
        width: 60%;
        margin: 32px auto;
    }

    a.prototype-button-final:hover {
        background-color: #8879B9;
    }

    /*    conclusion*/
    section.conclusion h3 {
        width: 75%;
    }

    div.learnings-container {
        width: 75%;
    }

    /*    FOOTER*/

    /*    social images*/
    div#social-img {
        width: 50%;
    }

}

@media only screen and (min-width: 768px) {

    /*        CHARTS*/
    div.chart-container,
    div.chart-container2 {
        width: 70%;
        height: 70%;
    }

    /*    IMAGE BOX*/

    div.image-box {
        width: 65%;
    }

    div.image-box2 {
        width: 100%;
    }

    div.image-box3 {
        width: 100%;
    }

    div.image-box4 {
        width: 100%;
    }

    div.persona-box {
        width: 80%;
    }

    /*    TAPE*/
    div.image-box2:after {
        transform: translateX(-200%) translateY(-40%);
    }

    div.image-box3:after {
        transform: translateX(-350%) translateY(-40%);
    }


    /*    NAV*/
    div.content {
        width: 70%;
    }

    ul#nav-links li {
        width: 70%;
    }

    /*    HEADER*/
    header {
        width: 60%;
    }

    div.case-study-image {
        width: 100%;
        margin: auto;
    }

    /*    THE PROBLEM*/
    div.problem-container h3 {
        margin-left: 20%;
    }

    div#statement p {
        width: 60%;
    }

    /*        USERS ROLES AND SCOPE*/
    div.container {
        width: 60%;
    }

    /*    THE SOLUTION*/
    div#solution-statement {
        width: 60%;
    }

    div.solution-container h3 {
        margin-left: 20%;
    }

    /* ////////////////////////////////////////////// */

    /* DISCOVERY AND RESEARCH INTRO */
    div.discovery {
        width: 60%;
    }

    /* ACCORDIAN DETAILS */

    .accordion {
        width: 60%;
    }

    /*    COMPETITIVE ANALYSIS*/
    div.competitive-analysis {
        width: 60%;
    }

    /*USER SURVEY*/

    div#user-survey {
        width: 60%;
    }


    /*    PERSONAS*/
    div.personas {
        width: 60%;
    }

    /* ///////////////////////////////////////////////////// */

    /* DEFINE INTRO */
    div.define-intro {
        width: 60%;
    }

    section.information-architecture h3 {
        width: 60%;
    }

    /*    USER STORIES*/
    div.user-stories {
        width: 60%;
    }


    /*USER FLOWS*/
    div.user-flow {
        width: 60%;
    }

    /*WIREFRAME SKETCHES*/
    div.wireframe-sketch {
        width: 60%;
    }

    div.digital-wireframes {
        width: 60%;
    }

    /* //////////////////////////////////////////////////
 */
    /*VISUAL DEISGN*/
    section.visual-design h3 {
        width: 60%;
    }

    div.color-type-container {
        width: 60%;
    }

    /*LOGOS AND NAME*/

    div.logo-container {
        width: 60%;
    }

    /*COLOR AND TYPE*/

    div.color-type {
        width: 60%;
    }

    /* ///////////////////////////////////////////// */

    /*PROTOTYPING AND TESTING*/
    section.prototype-test h3 {
        width: 60%;
    }

    div.prototype-test-container {
        width: 60%;
    }


    /*ITERATIONS*/

    div.iterations {
        width: 60%;
    }


    /*Usability Test*/
    div.usability-test {
        width: 60%;
    }

    div.usability-test ul {
        width: 85%;
    }

    /*USABILITY TEST ITERATIONS*/
    div.usability-test-iterations {
        width: 60%;
    }

    /*    FINAL PROTOTYPE*/
    div.final-prototype-container {
        width: 60%;
    }


    /*    conclusion*/
    section.conclusion h3 {
        width: 60%;
    }

    div.learnings-container {
        width: 60%;
    }

    /*    FOOTER*/

    /*    social images*/
    div#social-img {
        width: 40%;
    }


}

@media only screen and (min-width: 900px) {

    /*        CHARTS*/
    div.chart-container,
    div.chart-container2 {
        width: 60%;
        height: 60%;
    }

    /*    IMAGE BOX*/

    div.image-box {
        width: 60%;
    }

    div.persona-box {
        width: 65%;
    }


    /*  NAV*/

    div.content {
        width: 75%;
    }

    /*Nav links*/

    ul#nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: initial;
        transition: none;
        transform: none;
        width: 50%;

    }

    ul#nav-links li {
        width: 85%;
        text-align: center;
    }

    ul#nav-links li a {
        color: #392F5A;
        font-size: 1em;
        padding: 32px 0;
    }

    /*mobile hamburger menu*/
    span.mobile-btn {
        display: none;
    }

    ul#nav-links li.close {
        display: none;
    }


    /*    HEADER*/
    header {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    div.case-study-image {
        width: 100%;
        padding-right: 30px;

    }

    div.case-study-title {
        width: 75%;
        margin: auto auto auto 32px;
    }

    /*    THE PROBLEM*/
    div.problem-container h3 {
        margin-left: 22.5%;
    }

    div#statement p {
        width: 55%;
    }

    /*        USERS ROLES AND SCOPE*/
    div.container {
        width: 55%;
    }



    /*    THE SOLUTION*/
    div#solution-statement {
        width: 55%;
    }

    div.solution-container h3 {
        margin-left: 22.5%;
    }

    /* ///////////////////////////////////////////////// */

    /* DISCOVERY AND RESEARCH INTRO */
    div.discovery {
        width: 55%;
    }

    /* ACCORDIAN DETAILS */

    .accordion {
        width: 55%;
    }

    /*    COMPETITIVE ANALYSIS*/
    div.competitive-analysis {
        width: 55%;
    }

    /*USER SURVEY*/

    div#user-survey {
        width: 55%;
    }


    /*    PERSONAS*/
    div.personas {
        width: 55%;
    }


    /* ////////////////////////////////////////////// */

    /* DEFINE INTRO */
    div.define-intro {
        width: 55%;
    }

    section.information-architecture h3 {
        width: 55%;
    }

    /* USER STORIES */
    div.user-stories {
        width: 55%;
    }


    /*USER FLOWS*/
    div.user-flow {
        width: 55%;
    }

    /*WIREFRAME SKETCHES*/
    div.wireframe-sketch {
        width: 55%;
    }

    div.digital-wireframes {
        width: 55%;
    }

    /* //////////////////////////////////////////////////
 */
    /*VISUAL DEISGN*/
    section.visual-design h3 {
        width: 55%;
    }

    div.color-type-container {
        width: 55%;
    }

    /*LOGOS AND NAME*/

    div.logo-container {
        width: 55%;
    }

    /*COLOR AND TYPE*/

    div.color-type {
        width: 55%;
    }



    /*////////////// PROTOTYPING AND TESTING /////////////////*/
    section.prototype-test h3 {
        width: 55%;
    }

    div.prototype-test-container {
        width: 55%;
    }

    /*ITERATIONS*/

    div.iterations {
        width: 55%;
    }

    /*Usability Test*/
    div.usability-test {
        width: 55%;
    }


    div.usability-test ul {
        width: 90%;
    }

    /*USABILITY TEST ITERATIONS*/
    div.usability-test-iterations {
        width: 55%;
    }

    /*    FINAL PROTOTYPE*/
    div.final-prototype-container {
        width: 55%;
    }



    /*    conclusion*/
    section.conclusion h3 {
        width: 55%;
    }

    div.learnings-container {
        width: 55%;
    }

    /*    FOOTER*/
    div#social-img {
        width: 30%;
    }

}

@media only screen and (min-width: 1024px) {

    /*        CHARTS*/
    div.chart-container,
    div.chart-container2 {
        width: 50%;
        height: 50%;
    }

    /*    IMAGE BOX*/

    div.image-box {
        width: 55%;
    }

    div.persona-box {
        width: 55%;
    }

    div.web-size {
        width: 85%;
    }


    /*    THE PROBLEM*/
    div.problem-container h3 {
        margin-left: 27.5%;
    }

    div#statement p {
        width: 45%;
    }

    /*        USERS ROLES AND SCOPE*/
    div.container {
        width: 45%;
    }

    /*    THE SOLUTION*/
    div#solution-statement {
        width: 45%;
    }

    div.solution-container h3 {
        margin-left: 27.5%;
    }

    /* /////////////////////////////////////////////////////// */
    /* DISCOVERY AND RESEARCH INTRO */
    div.discovery {
        width: 45%;
    }

    /* ACCORDIAN DETAILS */

    .accordion {
        width: 45%;
    }

    /*    COMPETITIVE ANALYSIS*/
    div.competitive-analysis {
        width: 45%;
    }

    /*USER SURVEY*/

    div#user-survey {
        width: 45%;
    }


    /*    PERSONAS*/
    div.personas {
        width: 45%;
    }

    /* //////////////////////////////////////////////// */

    /* DEFINE INTRO */
    div.define-intro {
        width: 45%;
    }

    section.information-architecture h3 {
        width: 45%;
    }

    /*User Story*/

    div.user-stories {
        width: 45%;
    }


    /*USER FLOWS*/
    div.user-flow {
        width: 45%;
    }

    /*WIREFRAME SKETCHES*/
    div.wireframe-sketch {
        width: 45%;
    }

    div.digital-wireframes {
        width: 45%;
    }

    /* //////////////////////////////////////////////////
 */
    /*VISUAL DEISGN*/
    section.visual-design h3 {
        width: 45%;
    }

    div.color-type-container {
        width: 45%;
    }

    /*LOGOS AND NAME*/

    div.logo-container {
        width: 45%;
    }

    /*COLOR AND TYPE*/

    div.color-type {
        width: 45%;
    }


    /*ITERATIONS*/

    div.iterations {
        width: 45%;
    }



    /*////////////   PROTOTYPING AND TESTING  ///////////////////*/
    section.prototype-test h3 {
        width: 45%;
    }

    div.prototype-test-container {
        width: 45%;
    }


    /*Usability Test*/
    div.usability-test {
        width: 45%;
    }

    /*USABILITY TEST ITERATIONS*/
    div.usability-test-iterations {
        width: 45%;
    }


    /*    FINAL PROTOTYPE*/
    div.final-prototype-container {
        width: 45%;
    }


    /*    conclusion*/
    section.conclusion h3 {
        width: 45%;
    }

    div.learnings-container {
        width: 45%;
    }


    /*    FOOTER*/
    div#social-img {
        width: 25%;
    }

}

@media only screen and (min-width: 1200px) {

    /*BUS SPOT HEADER*/

    header {
        width: 70%;
    }

    div.case-study-title {
        width: 60%;
    }

    div.case-study-image {
        width: 90%;
        padding: 0;
    }

    div.case-study-image img {
        width: 85%;
     
    }


    /*    IMAGE BOX*/

    div.image-box {
        width: 45%;
    }

    div.persona-box {
        width: 45%
    }

    div.web-size {
        width: 85%;
    }


    /*    CHARTS*/
    div.chart-container,
    div.chart-container2 {
        width: 40%;
        height: 40%;
    }

    /*    THE PROBLEM*/
    div.problem-container h3 {
        margin-left: 32.5%;
    }

    div#statement p {
        width: 35%;
    }

    /*        USERS ROLES AND SCOPE*/
    div.container {
        width: 35%;
    }

    /*    THE SOLUTION*/
    div#solution-statement {
        width: 35%;
    }

    div.solution-container h3 {
        margin-left: 32.5%;
    }

    /* ////////////////////////////////////////////// */

    /* DISCOVERY AND RESEARCH INTRO */
    div.discovery {
        width: 35%;
    }

    /* ACCORDIAN DETAILS */

    .accordion {
        width: 35%;
    }

    /*    COMPETITIVE ANALYSIS*/
    div.competitive-analysis {
        width: 35%;
    }

    /*USER SURVEY*/

    div#user-survey {
        width: 35%;
    }

    /*    PERSONAS*/
    div.personas {
        width: 35%;
    }

    /* ///////////////////////////////////////////// */

    /* DEFINE INTRO */
    div.define-intro {
        width: 35%;
    }

    section.information-architecture h3 {
        width: 35%;
    }

    /*User Story*/

    div.user-stories {
        width: 35%;
    }


    /*USER FLOWS*/
    div.user-flow {
        width: 35%;
    }

    /*WIREFRAME SKETCHES*/
    div.wireframe-sketch {
        width: 35%;
    }

    div.digital-wireframes {
        width: 35%;
    }

    /*USABILITY TEST*/
    div.usability-test-1 {
        width: 35%;
    }

    /* //////////////////////////////////////////////////
 */
    /*VISUAL DEISGN*/
    section.visual-design h3 {
        width: 35%;
    }

    div.color-type-container {
        width: 35%;
    }

    /*LOGOS AND NAME*/

    div.logo-container {
        width: 35%;
    }

    /*COLOR AND TYPE*/

    div.color-type {
        width: 35%;
    }


    /*ITERATIONS*/

    div.iterations {
        width: 35%;
    }

    /*////////////// PROTOTYPING AND TESTING ///////////////*/
    section.prototype-test h3 {
        width: 35%;
    }

    div.prototype-test-container {
        width: 35%;
    }

    /*Usability Test*/
    div.usability-test {
        width: 35%;
    }


    div.usability-test ul {
        width: 95%;
    }

    /*USABILITY TEST ITERATIONS*/
    div.usability-test-iterations {
        width: 35%;
    }

    /*    FINAL PROTOTYPE*/
    div.final-prototype-container {
        width: 35%;
    }

    div.app-gif {
        width: 100%;
    }

    /*    conclusion*/
    section.conclusion h3 {
        width: 35%;
    }

    div.learnings-container {
        width: 35%;
    }


    div#social-img {
        width: 20%;
    }

}